node_modules/
.next/
dist/
build/
coverage/
.env
.env.*
!.env.example
*.log
*.tmp
.DS_Store
.vscode/
.idea/

.native-runtime/

.postgres-data/
_update-backup-*/
backup-*/

infrastructure/lavalink/lavalink.jar
infrastructure/lavalink/plugins/

tools/pgsql/pgAdmin 4/runtime/pgAdmin4.exe
